@model CategoryViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1>Create Category</h1>
    </div>
    <form action="@Url.Action("Create", "Category")" method="post">
        <div class="card-body">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name" id="name" placeholder="Category Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-active"
                    asp-for="IsActive">
                <label class="form-check-label" for="is-active">
                    Is Active?
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-save"></i> Create
            </button>
        </div>
    </form>
</div>